<h1 class="title p-2">{{ title }} <i class="bi bi-envelope-plus"></i></h1>

<div class="container mt-5">
  <div>
    <i class="bi bi-search  border p-1"></i><input (keyup)="searchInEmployees($event)" class="" type="text" placeholder="search" />
  </div>
  <table class="table mt-4 table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th class="align-middle">Name</th>
        <th class="align-middle">Phone</th>
        <th class="align-middle">Email</th>
        <th class="align-middle">Birthday<i class="bi bi-balloon"></i></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let employee of employees; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.birthday }}</td>
      </tr>
    </tbody>
  </table>
</div>