<div class="row text-center">
    <div class="col-md-6 offset-md-3 mt-4">
        <h4>reset password <i class="bi bi-envelope-at"></i></h4>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group ">
                <label for="resetPasswordEmail">Account Email</label>
                <input type="text"
                name="email"
                ngModel
                required
                #email 
                class="form-control"
                id="resetPasswordEmail"
                placeholder="Your Email">
            </div>
        
            <button type="submit" [disabled]="f.invalid"
            class="btn btn-danger mt-5">Reset Password
                <i class="fa fa-paper-plane"></i></button>
        </form>
    </div>

</div>
